<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<%= yield :head %>

	<title>RailsGuildMgr</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="header">
			<% if current_user %>
				<div class="logout">
					<p>You're logged in as <%= session[:name] %></p>
					<form action='/sessions' method='post'>
						<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
						<input type='hidden' name='_method' value='delete'>
						<input type='submit' value='Log out'>
					</form>
				</div>
			<% end %>
		</div>

		<%= yield %>

		<div class="footer">
			<%= image_tag "coding_dojo.png" %>
		</div>
	</div>
</body>
</html>
